<div class="loader-wrapper">
  <span class="loader-circle circle-1"></span>
  <span class="loader-circle circle-2"></span>
  <span class="loader-circle circle-3"></span>
  <span class="loader-circle circle-4"></span>
  <span class="loader-circle circle-5"></span>
  <span class="loader-circle circle-6"></span>
  <span class="loader-circle circle-7"></span>
  <span class="loader-circle circle-8"></span>
</div>
