<div class="body-container">
  <div class="dashboard">

    <div class="dashboard-left">
      <%= render 'shared/calendar' %> <!-- Render Calendar -->


      <% if !@events.empty? %>
        <%= render 'shared/event_calendar' %> <!-- Render Event Calendar -->
      <% end %>
    </div>
    <div class="dashboard-right">
      <%= link_to :back, class: "btn-back" do %>
        <i class="fa-solid fa-chevron-left"></i> Retour
      <% end %>
    <%= render 'shared/event_dashboard' %> <!-- Render Event Dashboard -->
    </div>
  </div>

</div>
