.calendar {
  font-family: "ABeeZee-regular";
}

#dashboard-calendar > input {
  display: none;
}

#dashboard-calendar {
  display: flex;
  justify-content: center;
}

.flatpickr-calendar.inline {
  // background-color: #bacdcc;
  background-color: $secondary-color;
  border: 2px solid $primary-color;
  border-radius: var(--border-radius);
  box-shadow: var(--container-shadow);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}



.flatpickr-calendar.arrowTop:after,
.flatpickr-calendar.arrowTop:before {
  display: none;
}

// .flatpickr-current-month {
//   // pointer-events: none;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;

// }

.booked {
  background: #60365e;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 150px;
  bottom: 3px;
  left: calc(50% - 3px);
  content: " ";
  display: block;
}

@media (max-width: 1024px) {
  .calendar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }

  #dashboard-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: 90%;
    max-width: 31em;
  }
}
