.dashboard {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Hauteur totale de la vue */

}

.dashboard-right {
  width: 100%;
  margin-left: 2.6em;
  position: relative;
  flex-grow: 1;

}

// .left-pane {
//   overflow-y: auto
// }


@media (max-width: 1024px) {


  .left-pane {
    overflow-y: visible;
    position: relative;
    min-height: 100vh
  }

  .dashboard {
    height: auto;
    overflow: visible;
    padding-bottom: 2em;

  }

  .dashboard-right {
    display: none;
  }
}
