.dashboard {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Hauteur totale de la vue */
}

.dashboard-right {
  width: 100%;
  margin-left: 2.6em;
  position: relative;
}

.left-pane, .right-pane {
  overflow-y: auto; /* Ajoute un défilement vertical */
  padding-bottom: 5em;
}


@media (max-width: 1024px) {
  .dashboard-right {
    display: none;
  }
}
