.dashboard {
  display: flex;
  justify-content: center;
}

.dashboard-right {
  width: 100%;
  margin-left: 2.6em;
  position: relative;
}

.horizontal-line {
  display: flex;
  align-items: center;
}

.separator {
  height: 4px;
  width: 200px;
  background-color: $primary-color;
  border-radius: 99px;
  margin: 1.5em auto;
}

.dashboard {
  display: flex;
  width: 100%;
  height: 100vh; /* Hauteur totale de la vue */
}

// .left-pane, .right-pane {
//   overflow-y: auto; /* Ajoute un défilement vertical */
//   padding-bottom: 5em;
// }

.left-pane{
  overflow-y: auto; /* Ajoute un défilement vertical */
  padding-bottom: 5em;
}



@media (max-width: 800px) {
  .dashboard-right {
    display: none;
  }
}
