.event-container-dashboard {
   background-color: $secondary-color;
   border: 2px solid $primary-color;
   width: 70%;
   padding: 1em;
   border-radius: var(--border-radius);
   margin-bottom: 1em;
   box-shadow: var(--container-shadow);
 }


 .event-dashboard-description {
   font-family: $body-font;
   color: $primary-color;
   margin-top: 0.5em;
 }


