.gift-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & span {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    font-size: larger;
    position: relative;
  }
}

.icon-gift {
  width: 3em;
}

.delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  & img {
    width: 1.5em;
  }
}

.refresh-container,
.delete-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:hover .refresh-arrow {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
}

.refresh-arrow,
.trash-bin {
  display: flex;
  transform: rotate(0deg);
  transition: transform 0.3s ease 0.3s;
  & img {
    width: 1.5em;
  }
}

.refresh-text,
.delete-text {
  opacity: 0;
  pointer-events: none;
  background-color: #60365e;
  padding: 0.25em 0.5em;
  color: $secondary-color;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  transition: transform 0.3s ease 0.3s, opacity 0.3s ease 0.3s; /* Débuter l'animation après 0.5s */
}

.refresh-container:hover .refresh-text,
.delete-container:hover .delete-text,
.refresh-text:hover,
.delete-text:hover {
  opacity: 1;
  pointer-events: all;
}

.gift-left {
  display: flex;
  align-items: center;
  & .gift {
    margin-left: 0.5em;
    transform: translateY(0);
    transition: transform 0.3s ease 0.2s;
  }
}

.form-comment {
  display: flex;
  align-items: center;
  // height: 3em;
  gap: 1em;
}

#comment {
  border: 2px solid $accent-color;
  border-radius: var(--border-radius);
  background-color: $secondary-color;
  font-family: $body-font;
  color: $primary-color;
  font-size: 1em;
  width: 100%;
  padding: 0 1em;
  align-self: stretch;
  + input[name="commit"] {
    width: fit-content;
    margin: 0;
    padding: 0 1em;
    align-self: stretch;
    // text-align: center;
  }
  &:focus-visible {
    outline: none;
    border: 2px solid $primary-color;
  }
}

.gift-comment {
  margin-bottom: 1em;
  & h2 {
    color: $accent-color;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width: 1024px) {
  .refresh-text,
  .delete-text {
    display: none;
    pointer-events: none;
  }
}
