
// .home-page {
//   width: 100%;
//   max-width: 55em;
// }

.home-buttons {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

.logged-out-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px 100px 40px;

  & p {
    font-family: $body-font;
    font-size: 1.4rem;
    color: $primary-color;
    opacity: 58%;
    margin-bottom: 0.5em;
    font-style: italic;
  }
}

.logged-out-content .content {
  max-width: 50%;
}

.logged-out-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {

  .home-page {
    width: 90%;
    max-width: 31em;
    margin: 1em;

  }

  .logged-out-content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .logged-out-content .content {
    max-width: 100%;
  }

  .home-buttons {
    display: none;
  }

}
