.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  // display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: none;
}

.loader-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
}

@keyframes loading {
  0% {
    transform: translateY(0px);
    background-color: $secondary-color;
  }
  50% {
    transform: translateY(50px);
    background-color: $primary-color;
  }
  100% {
    transform: translateY(0px);
    background-color: $secondary-color;
  }
}
.circle-1 {
  animation-delay: 0.1s;
}
.circle-2 {
  animation-delay: 0.2s;
}
.circle-3 {
  animation-delay: 0.3s;
}
.circle-4 {
  animation-delay: 0.4s;
}
.circle-5 {
  animation-delay: 0.5s;
}
.circle-6 {
  animation-delay: 0.6s;
}
.circle-7 {
  animation-delay: 0.7s;
}
.circle-8 {
  animation-delay: 0.8s;
}

.blurred {
  filter: blur(2px); /* Ajustez l'intensité du flou */
  pointer-events: none; /* Désactive les interactions avec le contenu flouté */
}
